.movie-card {
}

.movie-category{}

.movie-container{
  margin-top:2rem;
  height: 25rem;
  padding: 2rem;
  overflow-x: scroll;
  overflow-y: hidden;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  gap: 20px
}

.movie {
  width: 10rem;
  min-width: 10rem;
  transition: transform .2s;

}

.movie:hover {
  transform: scale(1.1)
}

.movie-card-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 13px;


}

.movie-infos{
  padding: 10px 5px;
  position: relative;

}

.movie-title{
  height: 5rem;
  font-size: 1.3rem;
}
